/* index.css */
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(33, 37, 41, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #3b82f6;
  text-decoration: none;
}
a:hover {
  color: #2563eb;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: 700;
}

button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #2563eb;
}
button:focus {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e0e0e0;
    background-color: #121212;
  }

  button {
    background-color: #1e40af;
  }

  button:hover {
    background-color: #1e3a8a;
  }
}
